* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}
body {
  background: #eee;
  padding: 0 16px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #f5ba13;
  margin: -12px -32px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: var(--header-background);
  color: var(--text-primary);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  background-color: #f5ba13;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin: auto -16px;
  margin-top: auto;
}

footer p {
  color: rgb(255, 255, 255);
}
.note {
  background: var(--form-background);
  /* background: #fff; */
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  padding: 10px;
  width: 265px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  background: var(--note-button);
  color: var(--note-text);
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  padding: 15px;
  background: var(--form-background);
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  /* background-color: var(--text-primary); */
  background: var(--form-background);
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
::placeholder {
  color: var(--text-primary);
}
form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: var(--header-background);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

[data-theme='dark'] {
  --background: #222831;
  --form-background: #393E46;
  --header-background: #1F4287;
  --text-primary: #fff;
  --note-button: #1F4287;
  --note-text: #fff;
}

[data-theme='light'] {
  --background: #eee;
  --header-background: #f5ba13;
  --text-primary: #000;
  --note-button: #fff;
  --note-text: #f5ba13;
}

.theme-toggle i {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  margin: -35px 575px;
  color: white;
}
  
.theme-toggle {
  text-align: center;
}

input , textarea {
  color: var(--text-primary);
}

.app {
  margin: auto -16px;
  padding: 6px 32px;
  background-color: var(--background);
  color: var(--text-primary);
  height: 500vh;
  /* width: 100vw; */
  /* overflow-y: scroll; */
  font-size: .8rem;
  transition: all .5s;
}
